body{
text-align: center;
  }
  h1{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    position: relative;
    top: 300px;
  }
  h4{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    position: relative;
    top: 300px;
  }
  .container{
    background-color: #E5E5FD;
    border: 10px solid #25316D;
    min-height: 100vh;
    min-width: 100vh;
  }
  .top{
    margin: 0 auto;
    height: 394px;
    width: 80%;
    text-align: right;
  }
  .mid{
    height: 300px;
    width: 80%;
    margin: 30px auto;
  }
  .bottom{
    height: 200px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
  }
  .footer{
text-align: right;
margin-right: 50px;
  }
  h2{
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    text-align: left;
  }
  p{
    text-align: left;
  }
  img{
    height: 392px;
    width: 314px;
    float: left;
    margin-right: 30px;
    border-radius: 170px;
    }
